:root {
  --primary-color: #e60013;
  --secondary-color: #f7d940;
  --tertiary-color: #006edb;
  --quaternary-color: #00b341;
  --quinary-color: #7d539d;
}

body {
  background: url(img/ninbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui;
  color: var(--secondary-color);
  width: 100%;
  margin: auto;
}

#about_h2 {
  padding-left: 20px;
}

nav {
  background-color: e4000f;
  font-family: system-ui;
}

p {
  padding: 20px;
}

.row {
  margin-top: 5rem;
}

footer {
  width: 80%;
  margin: auto;
}

footer p {
  display: inline-block;
  margin: 5%;
}

label {
  color: var(--tertiary-color);
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
